
  html,body {
  width: 100%;
  height:auto;
}
header h1 {
    display: none;
}
header{
  position:absolute;
  background-color: rgb(241, 220, 217);
  top: 0;
  width: 100%;
  height: 10%;
  display: block;
}

header div nav p img{
    position: absolute;
    top:0%;
    left: 2%;
    bottom: 2%;
    margin:auto;
    width:35%;
}
header div nav button{
  display: block;
  position: fixed;
  top: 2%;
  right: 4%;
  width: 3rem;
  height: 3rem;
}
header div nav button img{
  position:absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  width: 2.0rem;
  height: 2.0rem;
}
#drawer .showMenue {
  margin-left: 0%;
}

#Top p img{
  margin-top: 13%;
  width: 100%;
  height:auto;
}

  #open {
  z-index: 400;

}
body {
      font-family: sans-serif;
    background-image: url(../images/side01narrow.png),url(../images/side02narrow.png),url(../images/backgroundimg.png);
    background-position:left,right ;
    background-repeat: repeat-y,repeat-y,repeat;
    background-size: auto,auto,auto;
      }
h2{
     width:50%;
     font-size:1.0rem;
     font-weight:lighter;
     text-decoration:none;
     display:block;
     text-align:center;
     padding:1rem 0rem 1rem;
     margin: 0.8rem auto;
     color:#fff;
     background-color:rgb(226, 110, 27);
     border-radius:5px;
    }

#kazari{
  display: block;
  width:35%;
  margin : 1rem auto;

}
.disclipt {
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  display: block;
  width: 70%;
  text-align: center;
  }
.disclipt p{
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1rem;
  font-feature-settings : "palt";

}
footer{
  background-color: rgb(241, 220, 217);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  }

.leftbox{
  display: block;
  width: 85%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.leftbox figure img{
width: 80%;
text-align: center;
}

.menulist{
  font-size: 1.0rem;
  line-height: 1.5rem;
  width: 70%;
  margin: 0.3rem auto;
  font-feature-settings : "palt";
  }
.menulist p{
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  }

#address{
  margin-bottom: 0.8rem;
}
section#Access article p{
  text-align: center;
}

address p{
font-size: 0.5rem;
line-height: 0.6rem;
text-align: center;
position: relative;
overflow: hidden;
}
.ggmap {
font-size: 0.2rem;
text-align: center;
position: relative;
padding-top: 0.2rem;
margin: 1rem auto;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {

width: 70%;
height: 100%;
}
/*お問合わせフォーム*/
#contactUs {
  width:100%;
  display: block;
margin-top: 1rem;
  margin-bottom: 1rem;
  }

#contactUs p {
    margin-bottom: 0.6rem;
}

#contactUs table {
    width: 80%;
    margin:0 auto;
}

#contactUs th {
    width: 25%;
    text-align: right;
    font-size: 0.7rem;
    font-weight: normal;
    padding-top: 0.3rem;
}
#contactUs td {
    width: 55%;
    padding-bottom: 0.5rem;
    vertical-align: top;
}

input[type="text"] {
    height: 1.5rem;
    background-color: #fff;
    width: 100%;
    box-sizing:border-box;
    border-style: none;
}

textarea {
  width: 100%;
  box-sizing:border-box;
  border-style: none;
  height: 8rem;
}
input[type="submit"] {
  width: 30%;
  line-height: 1.6rem;
  height: 1.6rem;
  padding-left: 1rem;
  background-color: #B8FFBC;
  color: #31B25D;
  font-size: 0.8rem;
  letter-spacing: 1rem;
  border-style: none;
  cursor: pointer;
  margin-bottom: 40%;
}

input[type="text"]:focus,
textarea:focus {
	background: #faf4e2;
}
.footerlogo{
  margin-left:5%;
  margin-top: 2%;
  width: 7%;
  height:7%;
  float:left;
}
footer small  {
      display: block;
      padding: 0rem;
      font-size: 0.7rem;
      clear: both;
      text-align: center;
  }
}
footer ul{
  overflow:hidden;
}


#drawer ul {
  z-index: 300;
  width: 100%;
  position: fixed;
  padding-top: 4rem;
  cursor: pointer;
  margin-left: -200%;
  transition-duration:1s;
}
#drawer li {
    margin-bottom: 0.2rem;
}
#drawer li a {
    width: 100%;
    height: auto;
    display: block;
  }
    #drawer li a img{
  width:100%;
}

#drawer .showMenue {
  margin-left: 0%;
}

#gototop {
  z-index: 20000;
  position: fixed;
  bottom: 1%;
  right: 3%;
}
#gototop a {
  display: block;
  width: 4rem;
  height: 3rem;
  line-height: 3.4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: orange;
  font-size: 2.4rem;
  text-decoration: none;
}
